select {
    margin-left: 5px;
    margin-top: 0px;
    margin-bottom: 5px;
    border: 2px solid #111;
    background: transparent;
    width: auto;
    padding: 5px 30px 5px 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    height: 34px;
    background: aliceblue;   
  }
 
#tCalendar {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
}

#tCalendar th {
    background-color: cadetblue;
    color: #ddd;
}

#tCalendar td, #tCalendar th {
  border: 1px solid #ddd;
  padding-bottom: 1px;
  padding-top: 5px;
  padding-left: 8px;
  padding-right: 8px;
  text-align: center;
}

#tCalendar th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.today {
  color: red
}

.aditionalInfo {
  color: darkgray;
  font-size: 10px;
  padding: 1px;
  display: inline-block;
  width: 100px;
  max-width: 100px;
}
